<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

  </head>
  <body>
    
    <p>El creador de esta web es:</p>
    <p>Alonso Rodriguez Rodriguez</p>
	<img src='/images/snap.png'> <!-- width="auto" height="80%">-->
  </body>
</html>
