<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Quiz</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h3>Estadísticas</h3>
<table style="margin: 0 auto;" border="1">
		
			<tr>
			<td>Número de preguntas</td>
			<td> <%= quizes.length %> </td>
			</tr>
			<tr>
			<td>Número de comentarios totales</td>
			<td> </td>
			</tr>
			<tr>
			<td>Número medio de comentarios por pregunta</td>
			<td></td>
			</tr>
			<tr>
			<td>Número de preguntas sin comentarios</td>
			<td></td>
			</tr>
			<tr>
			<td>Número de preguntas con comentario</td>
			<td></td>
			</tr>
	</table><p>
</body>
</html>
